<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">-->
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!--    <meta name="_user" th:content="${}"/>-->

    <meta charset="utf-8">
    <meta name="author" content="Tetiana Rohalska">
    <meta name="description" content="restaurant">
    <meta name="keywords" content="restaurant, final project, autumn 2020">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>restaurant</title>
    <link rel="shortcut icon" th:href="@{/resources/favicon.ico}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script th:src="@{/js/general.js}"></script>
    <script th:src="@{/js/orders_request.js}"></script>

</head>

<body>
<div class="backcolor"></div>
<div class="body-block shadow-large page_width">
    <section class="section1">
        <a id="authorizedLogin" th:text="${#request.getUserPrincipal().getName()}"></a>
        <a class="abutton" href="/" th:text="#{main.menu}"></a>
        <a class="abutton" href="/basket" th:text="#{main.basket}"></a>
        <a class="abutton" href="/orders" th:text="#{main.orders}"></a>
        <select class="abutton" id="locales">
            <option value="" th:text="#{lang.change}"></option>
            <option value="en" th:text="#{lang.en}"></option>
            <option value="ua" th:text="#{lang.ua}"></option>
        </select>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#locales").change(function () {
                    let selectedOption = $('#locales').val();
                    if (selectedOption !== ''){
                        window.location.replace('?lang=' + selectedOption);
                    }
                });
            });
        </script>
    </section>

    <header class="section2">
        <a href="/"><h2 th:text="#{main.header}"></h2></a>
    </header>

    <section class="section4"
             ng-app="get_form" ng-controller="GetController" data-ng-init="getItems()">
        <div class="page_head">
            <div>
                <h2 th:text="#{main.orders}"></h2>
            </div>

<!--            <div>-->
<!--                <a class="button" onclick="" th:text="#{button.add}"></a>-->
<!--                &lt;!&ndash;                    <a class="button" onclick="transactions.openUpdate()">Update</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <a class="button" onclick="sendDeleteTransactions()">Delete all transaction by wallet</a>&ndash;&gt;-->
<!--            </div>-->
        </div>

        <div id="dishes_block">
            <div>
                <table id="table" ng-model="orders">
                    <tr>
                        <th columns="0" onclick="tableSort(this, 'table')" th:text="#{orders.number}"></th>
                        <th columns="1" onclick="tableSort(this, 'table')" th:text="#{orders.time}"></th>
                        <th columns="2" onclick="tableSort(this, 'table')" th:text="#{orders.status}"></th>
                        <th columns="3" onclick="tableSort(this, 'table')" th:text="#{orders.totalPrice}"></th>
                    </tr>
                    <tbody id="dishes_table">
                    <tr ng-repeat="i in orders" class="rows" checked=false>
                        <td>{{i.id}}</td>
                        <td>{{i.time}}</td>
                        <td>{{i.status}}</td>
                        <td>{{i.totalPrice}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>

</div>
</body>

</html>
